
.DS_Store
**/.DS_Store
**/_.DS_Store
**/._.DS_Store
VCPU32-Simulator.xcodeproj/xcshareddata/xcschemes/VCPU32-Simulator.xcscheme
VCPU32-Simulator.xcodeproj/xcuserdata/helmutfieres.xcuserdatad/xcschemes/xcschememanagement.plist
VCPU32-Simulator.xcodeproj/project.pbxproj
VCPU32-Simulator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VCPU32-Simulator.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VCPU32-Simulator.xcodeproj/project.xcworkspace/xcuserdata/helmutfieres.xcuserdatad/UserInterfaceState.xcuserstate
VCPU32-Simulator.xcodeproj/xcuserdata/helmutfieres.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VCPU-32-Documentation/VCPU32-TheListing.md
VCPU-32-Documentation/.vscode/settings.json
VCPU-32-Documentation/VCPU-32-Architecture-and-Instruction-Set.pdf
VCPU32-Verilog/hdl/a.out
VCPU32-Simulator.xcodeproj/xcuserdata/helmutfieres.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
