
.DS_Store
VCPU32-Simulator.xcodeproj/xcshareddata/xcschemes/VCPU32-Simulator.xcscheme
VCPU32-Simulator.xcodeproj/xcuserdata/helmutfieres.xcuserdatad/xcschemes/xcschememanagement.plist
VCPU32-Simulator.xcodeproj/project.pbxproj
VCPU32-Simulator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VCPU32-Simulator.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VCPU32-Simulator.xcodeproj/project.xcworkspace/xcuserdata/helmutfieres.xcuserdatad/UserInterfaceState.xcuserstate
